.bio{
  display: grid;
  grid-template-columns: 1fr 2fr;
  height:13em;
  padding: 3em 0 0 5em;
  border-bottom: 0.5px solid #dbdbdb;
}


.edit-bio-form{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 17em;
  height: 7em;
  padding: 1em;
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 3px #333333;
}

.edit-bio-form input{
  margin-bottom: 0.5em;
  width: 19em;
  height: 2.5em;
}

.edit-bio-form button{
  background: #333333;
  color: #fff;
  cursor: pointer;
  height: 2em;
}