

body{
  background-color: #FAFAFA;
  margin: 0;
}

nav{
 background-color: #fff;
 height: 3.3em;
 line-height: 3.3em;
 padding: 0 13.5em;
 border-bottom: 0.1px solid #DBDBDB;
}

.logo{
  text-decoration: none;
}

.logo>img{
  vertical-align: middle;
}

.search{
  background: #fafafa;
  margin-left: 19em;
  height: 2em;
  width: 15.5em;
  border:1px solid #dbdbdb;
}

.search::placeholder{
  text-align: center;
  color: #808080;
}


.nav-links{
  margin-left: 8em;
}

.nav-links>a{
  margin-left: 1.5em;
}

.nav-links i{
  transform: scale(1.6);
  color: #252525;
  vertical-align:middle;
}

.container{
  padding: 0 15%;
}

.bio{
  display: grid;
  grid-template-columns: 1fr 2fr;
  height:13em;
  padding: 3em 0 0 5em;
  border-bottom: 0.5px solid #dbdbdb;
}

.profile-photo{
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.profile-photo>img{
  width:100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info .username{
  font-size:1.7em;
  color: #545454;
}

.profile-info button{
  background-color: #0095f6;
  color: #fff;
  font-size: 1.1em;
  width: 6em;
  height: 2em;
  border: unset;
  cursor: pointer;
}




































































































































































